.chessboardTile {
    display: flex;
    margin: 0;
    width: 10vmin;
    height: 10vmin;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #763810;
}

.white {
    background-color: #f6cb83;
}

.chessPiece, .tileHighlight {
    width: 100%;
    height: 100%;
}

.chessPiece.highlight, .chessboardTile:hover > img {
    filter: drop-shadow(0px 0px 2px black);
    width: 110%;
    height: 110%;
}