.chessboardTile {
    display: flex;
    margin: 0;
    width: 10vmin;
    height: 10vmin;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #763810;
}

.black.highlight {
    background-color: #BB9C08;
}

.white {
    background-color: #f6cb83;
}

.white.highlight {
    background-color: #FBE542;
}

.chessPiece {
    width: 100%;
    height: 100%;
}

img.highlight, .chessboardTile:hover > img {
    filter: drop-shadow(0px 0px 2px black);
    width: 110%;
    height: 110%;
}